.checkout{
    display: flex;
    font-family: Amazon-Lt;
    padding: 20px;
    height: max-content;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.checkout-left{
    width: 100%;
    position: relative;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
}

.checkout-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    span{
        font-size: 25px;
        font-weight: 600;
    }

    p{
        margin: 0px;
    }

}

.checkout-empty{
    margin: 15px 10px 10px 10px;
}

.checkout-icon{
    color: #087e63; 
    margin-right: 15px;
}
.checkout-right{
    background-color: white;
    padding: 15px;
    max-width: 300px;
    div{
        a{
            text-decoration: none;
            color: #527e8a;
        }
    }
}

.checkout-desc{
    font-size: 13px;
    font-weight: 500;
    display: flex;
    margin-bottom: 15px;

}
.first-desc{
    color: #087e63;
}