.product-para{
    font-family: Amazon-Bd;
    font-size: 20px;
    margin: 0px;
}

.product-price{
    small{
        font-family: Amazon-Medium;
        font-size: 15px;
        margin-top: -10px;
    }
    strong{
        font-family: Amazon-Bd;
        font-size: 20px;
    }
    margin: 0px;
}