p{
    margin: 0;
    font-weight: 550;
}

.buy-button{
    width: 100%;
    height: 30px;
    font-family: Amazon-Lt;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    background-color: #ffd814;
    cursor: pointer;
}